doctype 5
head
    meta(charset='utf-8')
    title OSCON

    // Core reveal.js styles
    link(rel='stylesheet', href='css/reveal.min.css')

    // our own awesome styles
    link(rel='stylesheet', href='oscon_theme.css')  

    // syntax highlighting scheme
    link(rel='stylesheet', href='plugin/highlight/styles/github.css')

    // Add ?print-pdf to the url to format slides for PDF export
    script.
      // If the query includes 'print-pdf', include the PDF print sheet
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
  body#body
    .reveal
      .slides
        != yield

          
    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script.
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        width: 1440,
        height: 900,
        controls: false,
        progress: true,
        history: true,
        center: true,
        theme: 'default',
        transition: 'none', 
        transitionSpeed: 'slow',
        backgroundTransition: 'none',
        // theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        // transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
        // Optional libraries used to extend on reveal.js
        dependencies: [
        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
