
section(data-state="h_typetable", style="text-align: center;")
  style .h_typetable header:after{content:"Scala Types"}
  br
  table
    tr
      th Name 
      th Description
      th Example
    tr
      td Any
      td Base type
      td 
        code n/a
    tr
      td Boolean
      td Either true or false
      td 
        code false
    tr
      td Char
      td Unicode character
      td 
        code 'A'
    tr
      td Double
      td 4-byte floating point
      td 
        code 9.23
    tr
      td Int
      td 4-byte integer
      td 
        code 10
    tr
      td List
      td Sequence of items
      td 
        code List(1,2,3)
    tr
      td Long
      td 8-byte integer
      td 
        code 327L
    tr
      td String
      td Text
      td 
        code "Hello"


section(data-state="h_value")
  style.
    .h_value header:after{ content: "Syntax: Defining A Value"; }
  pre
    code.big(data-trim, contenteditable).
      val identifier[: type] = expression


section(data-state="h_var")
  style.
    .h_var header:after{ content: "Syntax: Defining A Variable"; }
  pre
    code.big(data-trim, contenteditable).
      var identifier[: type] = expression









