
section
  h2 Get Started Developing With Scala
  br
  br
  h4 Kelsey Gilmore-Innis and Jason Swartz
  h4 An SF-Scala Meetup at Typesafe
  h4 July 10th, 2014

section
  h2 Thanks Typesafe!


    
section
  h3 Agenda
  p.big Opening Remarks
  p.big.fragment Setup
  p.big.fragment Class Part 1
  p.big.fragment Break
  p.big.fragment Class Part 2
  p.big.fragment The Project
  p.big.fragment 

section.intro.green(data-background="#162")
  h1 
    b Introductions


section.imgleft
  img(src="intro_images/kelsey.jpg", style="width: 200px;")
  ul
    l.bigger Kelsey Gilmore-Innis
    l.bigger @kelseyinnis


section.imgleft
  img(src="intro_images/jason.jpg", style="width: 200px;")
  ul
    l.bigger Jason Swartz 
    l.bigger @swartzrock



section.intro.green(data-background="#621")
  h1 Okay that's enough 
    b talk


section.intro.green(data-background="#134")
  h1 Now let's learn some <b>Scala</b>
    
    



    
section
  h2
    a(href="/instruction.html") Instructables
  h2
    a(href="/exercises.html") Exercises





section
  h1 THE END
  h3 THanks!
