
section
  h2 Get Started Developing With Scala
  h3 Kelsey Gilmore-Innis and Jason Swartz


section
  h1 Agenda
  ol 
    li Intro
    li Setup
    li Part 1
    li Break
    li Part 2
    li The Big Finish

// Now switch to the instructables deck
// - instruction content by Jason
section
  h2 Instructables

// Now switch to the exercises deck
// - exercises content by Kelsey
section
  h2 Exercises


section
  h1 THE END
  h3 THanks!
