
section.intro.white(data-background="#245")
  h1 
    b Now 
    | the learning begins



include instructions/part1
include instructions/part2
include instructions/part3
include instructions/part4
include instructions/part6
include instructions/part5











