
section
  h1 Instructionables
  h3 Hold On


section
  h1 What's Covered
  ol 
    li Types &amp; Data
    li Values and Variables
    li Collections
    li Expressions
    li Functions
    li Higher Order Collections
    li Case Classes
    li Party

section
  h2 Now get busy

section
  h1 THE END
  h3 THanks!
