
section
  h3 Expressions
  ol
    li Type ":q" to exit out of the REPL back into sbt
    li At the sbt prompt, run "container:start" to start the server
    li Run "~ ;copy-resources;aux-compile" to automatically recompile & restart when you make changes
    li Open the sample project in the text editor of your choice
    li Confirm the server is working by changing line 19 of 
      code   TutorialApp 
      | to hello something else & verifying localhost:8080/ has changed in the browser

section
  h3 Expressions
  ol
    li Modify the 
      code /smalltalk 
      | endpoint code to operate on an integer representing the temperature
    ul
        li Use .toInt to convert the parameter to an int
    li Add a default to 
      code /moreSmalltalk 
      | that returns "Yup, sure is FOO" where FOO is the value of the weather param
    li Implement
      code /highLow
      ol
       li Use pattern matching with value binding to extract the high & low temp
       li Use guards to validate the data 
