
section
  h3 Classes
  ol
    li Add a field of your choosing to the 
      code Cloud 
      | case class
    li Create an object outside of 
      code TutorialApp  
      | with a 
      code convertFeetToMeters 
      | method
    li Add a method to 
      code Cloud 
      | that uses the object's method to return the cloud's height in meters
