

section
  style.
    .h_exercises header:after{ content: "Exercises"; }
  h3 Types and Values
  ol
    li Store your own name as a value
    li Store the name of the person sitting next to you as a value
    li Store your name + your neighbors' names in a list
    li Ask two people sitting near you what age they started programming
    li Find the average age that all of you started programming, without rounding
    li Create a map of name to age they started programming
