

section
  h3 Does this work?
  ol
    li Download the project
      p http://www.bks2.com/scala-tutorial.tar.bz2
    li Run "./sbt" at the command line in the project folder
    li Once ">" appears, run "compile" to build the project
    li Success!
