



section.intro.white(data-background="intro_images/grunge_red.jpg")
  h1(style="font-size: 6em; ")
    b Q 
    | & 
    b A 



section.white(data-background="intro_images/grunge_red.jpg")
  img(src="intro_images/SBTB_rgb.png")
  br
  br
  b Fast Track To Scala
  br
  br
  p.smaller August 6-7, 2014
  p.smaller San Francisco, CA



section.intro.chapter.white(data-background="intro_images/grunge_red.jpg")
  h1 Thanks Everyone!
  br
  br
  br
  h4 Kelsey Gilmore-Innis (@kelseyinnis)
  h4 Jason Swartz (@swartzrock)
