
section
  h2 Part 2
  h1 Language Basics


section.intro.green(data-background="#134")
  h1 <b>Values</b> &amp; <b>Types</b>


section(data-state="header1")
  style.
    .header1 header:after{ content: "Values"; }
  pre
    code.big(data-trim, contenteditable).
      val name: String = "Phil";




