
section.intro.green(data-background="#134")
  h1 Now it's time we got 
    b Classy 


// OO content goes here


section.intro.green(data-background="#134")
  h1 Now that you're 
    b Classy


section.intro.darkBlue(data-background="#ee3")
  h1 How about we 
    b try out
    |  your new skills?


