
section.intro.green(data-background="#134")
  h1 It's time to get 
    b really 
    | functional 


// your content can go here


section.intro.green(data-background="#134")
  h1 Now that you're 
    b Functional


section.intro.darkBlue(data-background="#ee3")
  h1 How about we 
    b try out
    |  your new skills?


